/* General */

body {
  background-color: #fad6d4;
  margin: 0;
}

.header img,
.review-header img,
.pref-header img {
  width: 15em;
  margin: 1em;
}

.review-matches,
.change-pref,
.new-matches {
  margin: 2em 1em 1em;
  padding: 0.3em 0.5em;
  background-color: #ffa3af;
  border: none;
  border-radius: 5px;
}

.save:hover,
.review-matches:hover,
.change-pref:hover,
.new-matches:hover,
.option-btns button:hover,
.match-div button:hover,
.sort-btn:hover {
  background-color: #f58d9b;
}

label,
select,
button,
.dog-info p {
  color: #51291e;
  font-family: 'Poppins', sans-serif;
  font-size: 2em;
}

/* Index page */

.preferences {
  display: flex;
  justify-content: center;
  text-align: center;
}

form {
  background-color: #ecc755;
  margin-top: 2em;
  padding: 6em;
  width: fit-content;
  border-radius: 50px;
}

.check-box {
  margin-bottom: 3em;
}

.check-options {
  display: flex;
}

.check-options input {
  width: 25px;
  height: 25px;
}

.option-1,
.option-2 {
  margin-right: 1.5em;
}

.sex-pref,
.breed-select {
  font-size: 3em;
}

.save {
  margin-top: 1em;
  padding: 0.3em 0.5em;
  background-color: #ffa3af;
  border: none;
  border-radius: 5px;
}

/* Matching page */

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5em;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 calc(50vh - 330px);
}

.dog-profile {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.matches-img img {
  max-width: 100%;
  max-height: 100%;
}

.matches-img {
  width: 35em;
  height: 25em;
}

.dog-info {
  background-color: #ecc755;
  padding: 3em;
  min-width: 25em;
  width: fit-content;
  height: fit-content;
  border-radius: 50px;
}

.option-btns {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 3em;
}

.cross,
.heart {
  width: 4em;
  height: 4em;
  margin: 0 1em;
  padding: 0.5em;
  background-color: #ffa3af;
  border: none;
  border-radius: 50%;
}

/* Review Page */

.review-header {
  display: flex;
  justify-content: space-between;
}

.search-input {
  text-align: center;
}

.search-breed,
.search-name,
.sort-by {
  color: #51291e;
  font-size: 1.5em;
  margin: 0 1em;
  padding-left: 0.5em;
  width: 12em;
  height: 2em;
  border: 1px solid #ffa3af;
  border-radius: 4px;
}

.sort-btn {
  font-size: 1.5em;
  padding: 0 0.5em;
  height: 2em;
  background-color: #ffa3af;
  border: none;
  border-radius: 4px;
}

.show-all-matches {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.match-div {
  display: flex;
  flex-direction: column;
  color: #51291e;
  background-color: #ecc755;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5em;
  margin: 2em;
  padding: 2.5em;
  width: 10em;
  height: fit-content;
  border-radius: 50px;
}

.dog-img {
  display: flex;
  justify-content: center;
  height: 10em;
}

.dog-img img {
  max-width: 100%;
  max-height: 100%;
}

.match-div button {
  font-size: 1em;
  padding: 0.3em 0.5em;
  background-color: #ffa3af;
  border: none;
  border-radius: 5px;
}

/* Media Queries */

@media (max-width: 1370px) {
  .matches-img {
    width: 30em;
    height: 20em;
  }

  .dog-info {
    margin: 1em 0 0 2em;
    padding: 2em;
    font-size: 0.8em;
  }

  .option-btns {
    margin-top: 7em;
  }
}

@media (max-width: 1085px) {
  .header,
  .review-header {
    margin-bottom: 2em;
  }

  .nav-btns {
    display: flex;
    flex-direction: column;
  }

  .review-matches,
  .new-matches {
    font-size: 1.5em;
    margin: 1.2em 1em 0.5em 0.5em;
  }

  .change-pref {
    font-size: 1.5em;
    margin: 0.5em 1em 0.5em 0.5em;
  }

  .dog-profile {
    flex-direction: column;
    align-items: center;
  }

  .matches-img {
    width: 25em;
    height: 15em;
  }

  .dog-info {
    margin-top: 2em;
    margin-left: 0;
  }

  .option-btns {
    margin: 3em 0;
  }

  .cross,
  .heart {
    width: 3em;
    height: 3em;
  }
}

@media (max-width: 930px) {
  form {
    margin-top: 8em;
    padding: 4em;
  }

  .check-box {
    margin-bottom: 2em;
  }

  .sex-pref,
  .breed-select {
    font-size: 2em;
  }

  label,
  select,
  button {
    font-size: 1.5em;
  }

  .match-div {
    margin: 1em;
    padding: 1.5em;
    width: 8em;
  }

  .info-div p {
    font-size: 0.8em;
  }
  
  .match-div button {
    font-size: 0.8em;
  }
}

@media (max-width: 665px) {
  .pref-header {
    display: flex;
    justify-content: center;
  }

  form {
    margin-top: 10em;
    padding: 3em;
  }

  .sex-pref,
  .breed-select {
    font-size: 1.5em;
  }

  label,
  select,
  button {
    font-size: 1em;
  }

  .main-container {
    margin: 0 5em;
  }

  .header img,
  .review-header img {
    width: 12em;
    height: 8.5em;
    margin-right: 0;
  }

  .review-matches,
  .change-pref,
  .new-matches {
    font-size: 1.2em;
    margin-left: 0;
  }

  .dog-info {
    padding: 1em;
    min-width: 20em;
  }

  .dog-info p {
    font-size: 1.5em;
  }

  .option-btns {
    margin-top: 6em;
  }

  .cross,
  .heart {
    margin: 0 0.8em;
  }
}

@media (max-width: 470px) {
  form {
    margin-top: 3em;
  }

  .check-options {
    flex-direction: column;
    align-items: flex-start;
  }

  .header,
  .review-header {
    flex-direction: column;
    align-items: center;
  }

  .header img,
  .review-header img {
    margin: 1em o;
  }

  .review-matches,
  .change-pref,
  .new-matches {
    margin: 1em 0 0.2em 0;
  }

  .main-container {
    margin: 0 1em;
  }

  .option-btns {
    margin-top: 2.5em;
  }
}
