body {
  margin: 0;
  background-color: $brand-color-light;
}

.header img,
.review-header img,
.pref-header img {
  margin: 1em;
  width: 15em;
  transition: transform .5s cubic-bezier(.55,-0.75,.45,1.7);

  &:hover {
    transform: rotate(-10deg);
  }
}

.review-matches,
.change-pref,
.new-matches {
  margin: 2em 1em 1em;
  padding: 0.3em 0.5em;
  background-color: $brand-color;
  border: none;
  border-radius: 5px;
  transition: background-color .5s;

  &:hover {
    cursor: pointer;
    background-color: $brand-color-dark;
  }
}

.save:hover,
.match-div button:hover {
  cursor: pointer;
  background-color: $brand-color-dark;
  border-radius: 20px;
}

label,
select,
button,
.dog-info p {
  font-family: $brand-font;
  font-size: $large-font;
  color: $font-color;
}