@media (max-width: 1370px) {
  .matches-img {
    width: 30em;
    height: 20em;
  }

  .dog-info {
    margin: 1em 0 0 2em;
    padding: 2em;
    font-size: $xxs-font;
  }

  .option-btns {
    margin-top: 7em;
  }
}

@media (max-width: 1085px) {
  .header,
  .review-header {
    margin-bottom: 2em;
  }

  .nav-btns {
    @include flexbox($dir: column);
  }

  .review-matches,
  .new-matches {
    margin: 1.2em 1em 0.5em 0.5em;
    font-size: $medium-font;
  }

  .change-pref {
    margin: 0.5em 1em 0.5em 0.5em;
    font-size: $medium-font;
  }

  .dog-profile {
    flex-direction: column;
    align-items: center;
  }

  .matches-img {
    width: 25em;
    height: 15em;
  }

  .dog-info {
    margin-top: 2em;
    margin-left: 0;
  }

  .option-btns {
    margin: 3em 0;
  }

  .cross,
  .heart {
    width: 3em;
    height: 3em;
  }
}

@media (max-width: 930px) {
  form {
    margin-top: 8em;
    padding: 4em;
  }

  .check-box {
    margin-bottom: 2em;
  }

  .sex-pref,
  .breed-select {
    font-size: $large-font;
  }

  label,
  select,
  button {
    font-size: $medium-font;
  }

  .match-div {
    margin: 1em;
    padding: $medium-font;
    width: 8em;

    button {
      font-size: $xxs-font;
    }
  }

  .info-div p {
    font-size: $xxs-font;
  }
}

@media (max-width: 665px) {
  .pref-header {
    @include flexbox($just: center);
  }

  form {
    margin-top: 10em;
    padding: 3em;
  }

  .sex-pref,
  .breed-select {
    font-size: $medium-font;
  }

  label,
  select,
  .save,
  .search-breed,
  .search-name,
  .sort-by {
    font-size: $xs-font;
  }

  .main-container {
    margin: 0 5em;
  }

  .header img,
  .review-header img {
    margin-right: 0;
    width: 12em;
    height: 8.5em;
  }

  .review-matches,
  .change-pref,
  .new-matches {
    margin-left: 0;
    font-size: $small-font;
  }

  .dog-info {
    padding: 1em;
    min-width: 20em;

    p {
      font-size: $medium-font;
    }
  }

  .option-btns {
    margin-top: 6em;
  }

  .cross,
  .heart {
    margin: 0 0.8em;
  }
}

@media (max-width: 470px) {
  form {
    margin-top: 3em;
  }

  .check-options {
    flex-direction: column;
    align-items: flex-start;
  }

  .header,
  .review-header {
    flex-direction: column;
    align-items: center;

    img {
      margin: 1em;
    }
  }

  .review-matches,
  .change-pref,
  .new-matches {
    margin: 1em 0 0.2em 0;
  }

  .main-container {
    margin: 0 1em;
  }

  .option-btns {
    margin-top: 2.5em;
  }
}