.preferences {
  @include flexbox($just: center);
  text-align: center;
}

form {
  margin-top: 2em;
  padding: 6em;
  width: fit-content;
  background-color: $accent-color;
  border-radius: 50px;
}

.check-box {
  margin-bottom: 3em;
}

.check-options {
  @include flexbox();

  input {
    width: 25px;
    height: 25px;
  }
}

.option-1,
.option-2 {
  margin-right: 1.5em;
}

.sex-pref,
.breed-select {
  font-size: $xl-font;
}

.save {
  margin-top: 1em;
  padding: 0.3em 0.5em;
  background-color: $brand-color;
  border: none;
  border-radius: 5px;
  transition: background-color .5s, border-radius .2s;
}