// ***** COLOURS ***** //

$accent-color: #ecc755;
$font-color: #51291e;
$brand-color: #ffa3af;
$brand-color-dark: #f58d9b;
$brand-color-light: #fad6d4;

// ***** FONT ***** //

$brand-font: 'Poppins', sans-serif;
$xl-font: 3em;
$large-font: 2em;
$medium-font: 1.5em;
$small-font: 1.2em;
$xs-font: 1em;
$xxs-font: 0.8em;
