.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5em;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 calc(50vh - 330px);
}

.dog-profile {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.matches-img img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.matches-img {
  width: 35em;
  height: 25em;
}

.dog-info {
  background-color: #ecc755;
  padding: 3em;
  min-width: 25em;
  width: fit-content;
  height: fit-content;
  border-radius: 50px;
}

.option-btns {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 3em;
}

.cross,
.heart {
  width: 4em;
  height: 4em;
  margin: 0 1em;
  padding: 0.5em;
  background-color: #ffa3af;
  border: none;
  border-radius: 50%;
  transition: background-color .5s;
}

.option-btns button:hover {
  background-color: #f58d9b;
  cursor: pointer;
}